
<!--  Add Product Form -->
<form (submit)="addProduct()">
    <input type="text" id="productName" [(ngModel)]="productName" required placeholder="productName"><br><br>
    <input type="number" id="productPrice" [(ngModel)]="productPrice" required placeholder="productPrice"><br><br>
    <button type="submit">Add</button>
  </form>
  
  <!-- Search Bar -->
  <input type="text" id="searchQuery" [(ngModel)]="searchQuery" (input)="filterProducts()" placeholder="Search">
  
  <!-- Product List -->
  <div *ngIf="products.length > 0; else noProducts">
    <ul>
      <li *ngFor="let product of products">
        {{ product.name }} - {{ product.price }}
      </li>
    </ul>
  </div>
  
  <ng-template #noProducts>
    No Product Found
  </ng-template>
  